.cb-container {
    width: 70%;
    height: 30%;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap onto the next line */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically within the container */
  }
  
  .cb-chatbox {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content inside each chatbox */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    flex: 1 0 30%; /* Make each item take up approximately 30% of the width, allowing for wrapping */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    min-width: 150px; /* Ensure the items do not become too small */
  }
  