.App {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.largeHolderCont{
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-self: center;
  align-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}
.searchButton {
  width: 20%;
  background-color: rgb(187, 20, 20);
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 24px;
  height: 60px;
  margin-bottom: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.holder{
  text-align: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-self: center;
  align-content: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  text-align: center;
  justify-content: center;
  justify-self: center;

  justify-items: center;
  align-self: center;
  align-content: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
